//// COLORS ////

$colors: (
  'primary-1': hsl(21, 19%, 53%), //beaver
  'primary-2': hsl(0, 0%, 7%), //cod gray
  'second-1': hsl(234, 30%, 13%), // mirage
  'second-2': hsl(218, 21%, 18%), //ebony clay
  'second-3': hsl(217, 14%, 42%), //shuttle gray
  'third': hsl(100, 100%, 100%), //white 
  'fourth': hsl(0, 0, 0), // black
  'warning': hsl(0, 100%, 50%), // Red
);


//// FONTS ////
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');

// Sizes
$par-sizes: (
  'sm': 0.9375rem,
  'md': 1.125rem,
);

$heading-sizes: (
  'xsm': 1.125rem,
  'sm': 2rem,
  'md': 2.5rem,
  'lg': 3rem,
  'xlg': 4rem,
);

$par-lh-sizes: (
  'sm': 1.75rem,
  'md': 1.875rem,
);

$heading-lh-sizes: (
  'xsm': 1.75rem,
  'sm': 2.5rem,
  'md': 3.5rem,
  'lg': 4rem,
  'xlg': 4.5rem,
);


// Weight
$font-weights: (
  'sm': 300,
  'md': 400,
  'lg': 600,
  'xlg': 700,
);


// Family
$font-family: (
  'primary': 'Spartan',
);


//// MEDIA QUERIES ////
$breakpoints-up: (
  'sm': 21.875rem,
  'md': 62rem,
  'lg': 90rem,
);

$breakpoints-down: (
  'md': 61.9375rem,
  'lg': 89.9375rem,
);


//// SPACES ////

$margin-y: (
  'sm': 5rem,
  'md': 7.5rem,
  'lg': 8rem,
);

$padding-x: (
  'sm': 1.5rem,
  'md': 6.125rem,
  'lg': 10.3rem,
);

